.window
  position: absolute
  border: 1px solid #efefef
  background: #ffffff
  user-select: none
  .windowDecorations
    display: flex
    background: #efefef
    user-select: none
    .windowTitle
      margin: 0px
      flex: 1
  .windowResize
    position: absolute
    bottom: -6px
    right: -6px
    height: 12px
    width: 12px
    cursor: se-resize