.window
  position: absolute
  border: 1px solid #efefef
  background: #ffffff
  user-select: none
  .windowDecorations
    display: flex
    background: #efefef
    user-select: none
    .windowTitle
      margin: 0px
      flex: 1